<!-- Pagination -->
{% if paginator.total_pages > 1 %}
<nav aria-label="Navegação de página">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="prev" aria-label="Página anterior">Anterior</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link" aria-disabled="true" tabindex="-1">Anterior</span>
    </li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="page-item active">
      <span class="page-link" aria-current="page">{{ page }}</span>
    </li>
    {% elsif page == 1 %}
    <li class="page-item">
      <a class="page-link" href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Página {{ page }}" rel="first">{{ page }}</a>
    </li>
    {% elsif page == paginator.total_pages %}
    <li class="page-item">
      <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" aria-label="Página {{ page }}" rel="last">{{ page }}</a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" aria-label="Página {{ page }}" >{{ page }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" rel="next" aria-label="Próxima página">Próxima</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link" aria-disabled="true" tabindex="-1">Próxima</span>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
