<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span data-i18n="newsletter.title">{% t newsletter.title %}</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
<!--        <h5><span>Your Ad Here</span></h5>-->
<!--        <img src="{{site.baseurl}}/assets/images/ad.jpg">-->
<!-- Sim -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5928117043364923"
     data-ad-slot="9923857440"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
    </div>
</div>
