---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Categorias</h1>
            
            {% for category in site.categories %}
            <h4 class="mt-5 mb-4 pb-2 border-bottom" id="{{ category[0] | slugify }}"><span class="text-capitalize small font-weight-bold">Categoria: "{{ category[0] }}"</span></h4>
            
            {% for post in category[1] %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h5>
                    <p class="card-text">{{ post.excerpt | strip_html | truncate: 120 }}</p>
                    <small class="text-muted">{{ post.date | date: "%B %d, %Y" }}</small>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>Todas as Categorias</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                        {% for category in site.categories %}
                        <li><a href="#{{ category[0] | slugify }}">{{ category[0] | capitalize }}</a> ({{ category[1].size }})</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
