---
layout: default
---
<div class="container my-5">
  <!-- 页面特色图 -->
  {% if page.image %}
  <div class="text-center mx-auto mb-5">
    {% if page.image contains '://' %}
    {% assign page_image_src = page.image %}
    {% else %}
    {% assign page_image_src = page.image | relative_url %}
    {% endif %}
    <img class="featured-image text-center mx-auto rounded" src="{{ page_image_src }}" alt="{{ page.title }}" loading="eager" decoding="async" fetchpriority="high"{% if page.image_width %} width="{{ page.image_width }}"{% endif %}{% if page.image_height %} height="{{ page.image_height }}"{% endif %}>
  </div>
  {% endif %}

  <div class="row justify-content-center">
    <div class="col-lg-8">
      {% unless page.hide_title %}
      <div class="mainheading">
        <h1 class="posttitle">{{ page.title }}</h1>
      </div>
      {% endunless %}

      <div class="article-post serif-font">
        {{content}}
      </div>

      {% if page.comments == true %}
      <div id="comments">             
          {% include disqus.html %} 
      </div>
      {% endif %}
    </div>
  </div>
</div>
