---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#2c3e50">
<link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">
<title>{{ page.title }} | {{ site.title }}</title>
{% seo %}
<link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/assets/css/custom.css' | relative_url }}" rel="stylesheet">
</head>
<body class="share-page">
  <main>
    {{ content }}
  </main>
</body>
</html>